@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    margin: 0;
    padding: 0;
}

.staup{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: 'DynaPuff', cursive;
}

.young{
 font-size: 23px;
 font-family: 'Fredoka One', cursive;
 font-family: 'Courgette', cursive;
}

.term{
    font-size: 23px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Courgette', cursive;
}

.why{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'DynaPuff', cursive;
}

.hallmark{
    font-size: 23px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Courgette', cursive;
}

.fails{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'DynaPuff', cursive;
}

.according{
    font-size: 23px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Courgette', cursive;
}

.helpp{
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'DynaPuff', cursive;
}

.mostly{
    font-size: 23px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Courgette', cursive;
 
}

.buttons{
    display: flex;
    justify-content: center;
}

.button1{
    width: 347px;
    font-size: 30px;
   text-transform: capitalize;
   font-weight: bolder;
}

.button1 a{
    text-decoration: none;
    color: black;
}
.button1:hover{
    color: red;
    font-style: italic;
    background-color: cadetblue;
}
.button2{
    width: 347px;
margin: 0px 0px 0px 180px;
height: 93px;
font-size: 30px;
text-transform: capitalize;
font-weight: bolder;
}

.button2 a{
    text-decoration: none;
    color: black;
}

.button2:hover{
   
    font-style: italic;
    background-color: cadetblue;
    color: red;
    font-weight: bolder;
}

.container{
    background-image: url(../chera1.jpg);
    background-size: cover;
}